.node rect {
  cursor: pointer;
  fill: gray;
  fill-opacity: .5;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.survol:hover{
  stroke:red;
  /*transform: scale(2,2);*/
}

/*.rect {
  width: 100px;
  height: 10px;
  color: white;
}*/

text {
  fill: blue;
  font-size: 0.5em;
  width: 50px;
  height: 10px;
}

body {
  overflow:hidden;
   margin:0;
}